body {
  background-color: #e0e0e0;
  text-decoration: none;
}

.common-header {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  height: 8vh;
  justify-content: center;
  margin-bottom: 30px;
  min-width: 100vw;
}

.common-header p {
  margin: 0 35rem;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.products-container div {
  background-color: white;
  border-radius: 40px;
  box-shadow: 22px 22px 43px #acacac , -22px -22px 43px white;
  color: black;
  height: 50vh;
  margin: 20px;
  width: 18vw;
}

.product {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.btn-products input {
  font-size: 15px;
  height: 30px;
  margin: 0 10px;
  text-align: center;
  width: 30px;
}

.btn-products button {
  background-color: blueviolet;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 22px;
  height: 35px;
  width: 35px;
}

.cart-total {
  background-color: blueviolet;
  border: none;
  border-radius: 10px;
  bottom: 0;
  color: white;
  cursor: pointer;
  font-size: 20px;
  min-height: 80px;
  min-width: 300px;
  position: fixed;
  right: 0;
}

.table {
  border: 1px solid white;
  text-align: center;
  width: 70%;
}

.table th, td {
  border: 1px solid white;
}

