body {
  background-color: #0d0d0d;
  color: white;
}


.product {
  align-items: center;
  background: white;
  border-radius: 40px;
  box-shadow: 8px 8px 12px #5a5a5a , -8px -8px 12px white;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  height: 38vh;
  margin: 20px;
  transition: box-shadow;
  transition-duration: 1s;
  width: 14vw;
}

.product:hover {
  box-shadow: 26px 26px 52px #969595 , -26px -26px 52px white;
}

.container-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px auto;
  width: 80%;
}

.product input {
  font-size: 15px;
  height: 25px;
  margin: 0 7px;
  text-align: center;
  width: 25px;
}

.price-product {
  color: gray;
}

.product button {
  background-color: rgba(82, 89, 220, 0.781);
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 22px;
  height: 35px;
  width: 35px;
}

.cart-total {
  background-color: rgba(42, 50, 156, 0.78);
  border: none;
  border-radius: 10px;
  bottom: 20px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  min-height: 80px;
  min-width: 300px;
  position: fixed;
  right: 20px;
}


.card {
  background-color: black;
  border-radius: 25px;
  height: 300px;
  margin: 10px;
  overflow: hidden;
  position: relative;
  width: 235px;
}


.card:before {
  background-color: rgba(28, 33, 106, 0.78);
  content: '';
  height: 100%;
  position: absolute;
  top: -50%;
  transform: skewY(345deg);
  transition: 0.5s;
  width: 100%;
}

.card:hover:before {
  top: -70%;
  transform: skewY(390deg);
}

.card:after {
  bottom: 0;
  color: #090808;
  content: 'JOHN';
  font-size: 5.5rem;
  font-weight: 600;
  left: 0;
  position: absolute;
}

.card .imgBx {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  position: relative;
  width: 100%;
  z-index: 1;
}


.common-header button {
  border: none;
  border-radius: 20px;
  cursor: pointer;
  height: 4vh;
  width: 3vw;
}

.card .imgBx img {
  max-width: 20%;
  transition: 0.5s;
}

.card:hover .imgBx img {
  max-width: 22%;
}

.card .contentBx {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  position: relative;
  z-index: 1;
}

.card .contentBx h3 {
  color: white;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.card .contentBx .price {
  color: rgb(170, 170, 170);
  font-size: 21px;
  font-weight: 900;
  letter-spacing: 1px;
}

.card .contentBx .buy {
  border-radius: 30px;
  color: white;
  letter-spacing: 1px;
  margin-top: 10px;
  opacity: 0;
  padding: 10px 20px;
  position: relative;
  text-transform: uppercase;
  top: 200px;
  transition: 0.5s;
}

.card .contentBx .buy input {
  font-size: 15px;
  height: 28px;
  margin: 0 7px;
  text-align: center;
  width: 28px;
}


.card .contentBx .buy button {
  background-color: rgba(39, 45, 172, 0.78);
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 22px;
  height: 38px;
  width: 38px;
}

.card:hover .contentBx .buy {
  opacity: 1;
  top: 0;
}

.common-header {
  align-items: center;
  background-color: black;
  display: flex;
  justify-content: space-around;
}

.pedidos {
  background-color: white;
  border-radius: 10px;
  color: black;
  display: flex;
  justify-content: space-around;
  margin: 20px;
  width: 30%;
}

