body {
  background-color: black;
  color: white;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.products-container div {
  background-color: white;
  border-radius: 20px;
  color: black;
  margin: 20px;
  width: 280px;
}

.product {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.btn-moreLess {
  display: flex;
  justify-content: center;
}

.cart-total {
  background-color: blueviolet;
  border: none;
  bottom: 0;
  color: white;
  cursor: pointer;
  font-size: 20px;
  min-height: 80px;
  min-width: 300px;
  position: fixed;
  right: 0;
}

.table {
  border: 1px solid white;
  text-align: center;
  width: 70%;
}

.table th, td {
  border: 1px solid white;
}
